.dashboard_left_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard_left_box a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  width: 200px;
}

.dash_icon {
  margin-right: 7px;
}

.dashboard_items {
  margin-bottom: 13px;
  transition: all 0.4s ease;
}

.dashboard_items:hover {
  opacity: 1;
  padding-left: 18px;
  text-decoration: underline;
  transition: all 0.9s infinite ease-in-out;
}

.user_info {
  border: 1px solid var(--orange);
  background: transparent;
  padding: 20px 0;
  color: var(--orange);
}
.a {
  color: green !important;
}
.user_name span {
  font-size: 18px;
}

.user_logout .logout_btn {
  color: red;
}

.logout_btn {
  font-weight: bold;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.nav_bar {
  border-right: 1px solid #555;
  width: 250px;
  margin-top: -0px;
}
.hight {
  height: 100vh;
  overflow: scroll;
}
.hight::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 990px) {
}
@media screen and (max-width: 990px) {
  .nav-flex {
    display: block !important;
    position: relative;
  }
  .nav_bar {
    border-right: none !important;
    border-bottom: 1px solid #555 !important;
    position: absolute !important;
    background-color: #555;
    width: 100%;
    z-index: 9999;
  }
}
